<section>
  <main>
    <h3>Login</h3>
    <form [formGroup]="loginForm">
      <fieldset>    
          <input  id="username" #focusEl 
                  formControlName="username" 
                  type="text" 
                  name="username" 
                  placeholder="Uživatelské jméno"
                  nbInput fullWidth 
          >
          <input  id="password" 
                  formControlName="password" 
                  type="password" 
                  name="password" 
                  placeholder="Heslo"
                  nbInput fullWidth>
      </fieldset>
      <footer>
          <button type="button" (click)="onLogin()" class="button large">Login</button>
      </footer>
    </form>
  </main>
</section>

