:host ::ng-deep {
    .fuel-prices {
        display: flex;
        flex-direction: column;
        height: 100vh;

        main {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
        }

        footer {
            display: flex;
            justify-content: center;
            padding-bottom: 40px;

            p {
                font-size: 11px;
                margin: 10px 0;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        .history {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            padding: 0 15px;
        
            nb-card,
            nb-card-header,
            nb-list-item {
                display: block;
            }  
        
            nb-tabset {
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;

                .tab-container {
                    display: block;
                    overflow: auto;
                }

                nb-tab {
                    padding: 18px 0 0;
                }

                ul.tabset {
                    border-bottom: 0;
                    background-color: #ECEEF5;
                    border-radius: 15px;
                    justify-content: center;
                    
                    li.tab {
                        min-width: 50%;
                        margin-bottom: 0;
                        font-size: 16px;
                        line-height: 18px;
                        border: 3px solid transparent;

                        a {
                            justify-content: center;
                            padding: 0;
                            font-size: 16px;
                            line-height: 22px;

                            span {
                                font-weight: 500;
                                color: rgba(0, 0, 0, 0.5);
                                font-size: 12px;
                            }
                        }

                        &.active {                             
                            a {
                                background-color: white;
                                border-color: #ECEEF5;
                                border-radius: 20px;

                                span {
                                    color: rgba(0, 0, 0, 1);
                                }

                                &::before {
                                    display: none !important;
                                }
                            }
                        }
                    }
        
                }
            }

            nb-list-item {
                background-color: white;
                border: 0;
                border-radius: 12px;
                margin-bottom: 12px;

                .date {
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 11px;
                }

                .price {
                    font-size: 12px;
                }
            }
        
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            li {
                margin: 0;
        
            }

            h5 {
                margin-bottom: 8px;
            }
            
            .row-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        
    }
}


p {
    margin: 0;

    label {
        font-size: 12px;

        span {
            font-size: 12px;
            font-weight: 600;
            margin-left: 2px;
        }
    }
}

.panel {
    min-height: 40px;
    padding: 0 15px;

    p {
        font-size: 12px;
    }
}

.panel.sticky {
    position: sticky;
    // background-color: rgba(255, 255, 255, 0.3);
    padding: 0 15px;
    z-index: 100;
    margin-bottom: 40px;

    &::before {
        display: block;
        content: '';
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: -8px;
        width: calc(100% - 60px);
        height: 50px;
        z-index: -1;
        margin: 0 15px;
        border-radius: 15px;
    }
}

.panel.headline {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    nb-icon {
        margin-left: 10px;
    }

    button {
        padding: 5px 25px;
        min-height: 38px;
        text-transform: uppercase;

        nb-icon {
            display: none;
            margin-left: 0;
        }
    }
}

.panel.valid {
    p {
        text-align: left;
        margin-left: 10px;
        opacity: 0.3;
    }
}
:host ::ng-deep {
    .panel.chart {
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0;
        padding: 0;

        
        .ngx-charts {
            margin-left: -45px;
        }
    }
}
.big-number {
    font-size: 24px;
    font-weight: 600;
}

.unit {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 3px;
}

.latest-price {
    margin-bottom: 5px;
    
    .latest-price__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        border-radius: 10px;
        background-color: white;
        padding: 12px 18px;
        box-shadow: 0 20px 40px 0 rgba(0, 10, 62, 0.05);
  
    }

    label {
        display: block;
        margin-bottom: 4px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
    }
}

