<section class="fuel-prices">
	<main>		
		<div *ngIf="isLogged" class="panel u-flex headline">
			<nb-icon icon="menu-outline"></nb-icon>
			<button class="button" (click)="onAdd($event)"><nb-icon icon="plus"></nb-icon>Aktualizovat Ceny</button>
		</div>
		<h3 >Aktuální cena</h3>
		<h6 *ngIf="latest">Platná od {{ latest.crude.from | date }} do {{ latest.crude.to | date }}</h6>
		<div class="panel sticky">			
			<div class="col-md-3 latest-price" *ngIf="latest">
				<div class="latest-price__wrap">
					<p>
						<label>Nafta:</label>
						<span class="big-number">{{ latest.crude.price | currency: " " }}<span class="unit">Kč/l</span></span>
					</p>
					<p>
						<label>Benzín:</label>
						<span class="big-number">{{ latest.petrol.price | currency: " "}}<span class="unit">Kč/l</span></span>
					</p>	
				</div>
			</div>
		</div>


		<div class="panel chart">
			<ngx-charts-line-chart *ngIf="$chartPrices | async as results"
				[view]="chartConfig.view"
				[curve]="chartConfig.curve"
				[scheme]="chartConfig.colorScheme"
				[legend]="chartConfig.legend"
				[showXAxisLabel]="chartConfig.showXAxisLabel"
				[showYAxisLabel]="chartConfig.showYAxisLabel"
				[xAxis]="chartConfig.xAxis"
				[yAxis]="chartConfig.yAxis"
				[xAxisLabel]="chartConfig.xAxisLabel"
				[yAxisLabel]="chartConfig.yAxisLabel"
				[yScaleMin]="chartConfig.yScaleMin"
				[yScaleMax]="chartConfig.yScaleMax"
				[results]="results"
			>
		  </ngx-charts-line-chart>
		</div>

		<h3>Historie</h3>
		<div *ngIf="$prices | async as prices" class="history">
			<nb-tabset>
				<nb-tab tabTitle="Nafta">
					<div class="tab-container">
						<nb-list>
							<nb-list-item *ngFor="let item of prices | callback: filterPriceOlderWeek | callback: filterPriceByCrude; trackBy: trackByFn">
								<ng-container *ngIf="item.fuel == 'crude'">
									<div class="row-item">
										<div class="date">{{ item.from | date }} - {{ item.to | date }}</div>
										<div class="price"><b>{{ item.price | currency }}/l</b></div>
									</div>
								</ng-container>
							</nb-list-item>
						</nb-list>
					</div>
				</nb-tab>
				<nb-tab tabTitle="Benzín">
					<div class="tab-container">
						<nb-list>
							<nb-list-item *ngFor="let item of prices | callback: filterPriceOlderWeek | callback: filterPriceByPetrol; trackBy: trackByFn">
								<ng-container *ngIf="item.fuel == 'petrol'">
									<div class="row-item">
										<div class="date">{{ item.from | date }} - {{ item.to | date }}</div>
										<div class="price"><b>{{ item.price | currency }}/l</b></div>
									</div>
								</ng-container>
							</nb-list-item>
						</nb-list>
					</div>
				</nb-tab>
			</nb-tabset>
			
		</div>
	</main>
	<footer>
		<p *ngIf="latest">
			Aktualizace: <b>{{ latest.crude.from | amLocale: "cs" | amTimeAgo }}</b>, v{{ appVersion }}
		</p>
	</footer>
</section>
