:host ::ng-deep {

    .cdk-overlay-dark-backdrop {
        background: rgba(0, 0, 0, 0.1);
    }

    .u-flex {
        display: flex;
    }
    
    button,
    .button {
        background-color: rgba(0, 112, 255, 0.9);
        color: #fff;
        border: 0;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 800;
        padding: 5px 15px;
        display: flex;
        align-items: center;

        &.large {
            justify-content: center;
        }
    }

    .stretch,
    .full-screen.stretch {
        min-width: 100vw; 
        margin-top: 100px;
        transition: margin 1 ease;       

        nb-card {
            background-color: #F7F8FB;
            border-radius: 12px 12px 0 0;
            margin: 0;
            min-height: 100vh;

            nb-card-header {
                display: none;
            }
        }        
    }

    h3, h5 {
        margin: 0;
        margin-left: 10px;
        font-size: 13px;
        font-weight: bold;
    }

    h3 {
        font-size: 24px;
    }

    form {
        input,
        input[type='text'],
        input[type='number'],
        input[type='password'] {
            border: 0;            
            font-size: 12px;
            padding: 5px 0px;
            margin: 0;
            width: 100%;            
        }

        fieldset {
            background-color: white;
            border: 0;
            border-radius: 12px;
            padding: 5px 15px;
            display: flex;
            flex-direction: column;
            width: 100%;
    
            input {
                min-height: 32px;
                background-color: transparent;
                border: 0;
                line-height: initial;
                padding: 5px 0px;
                font-size: 13px;
                font-weight: 400;
                border-bottom: 1px solid rgba(0,0,0,0.05);
    
                &:last-of-type {
                    border-bottom: 0;
                }
    
                &:hover {
                    background-color: transparent;
                }
            }
    
        }
        footer {
            padding: 10px 0;
            display: flex;
            justify-content: center;
    
            button {
                min-height: 32px;
                min-width: 100%;
                margin-top: 10px;
            }
        }
    }
    
}
