:host {
    h3 {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 25px;
    }
}
form {
    fieldset {
        background-color: white;
        border: 0;
        border-radius: 12px;
        padding: 5px 15px;
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
            min-height: 32px;
            background-color: transparent;
            border: 0;
            line-height: initial;
            padding: 5px 0px;
            font-size: 13px;
            font-weight: 400;
            border-bottom: 1px solid rgba(0,0,0,0.05);

            &:last-of-type {
                border-bottom: 0;
            }

            &:hover {
                background-color: transparent;
            }
        }      
    }

    section {
        display: flex;
        flex-direction: row;

        em {
            font-size: 12px;
            font-style: normal; 
            align-self: center;
            justify-content: center;
            margin-left: 10px;
        }

        &.error {	 
            fieldset {
                background-color: rgba(0, 112, 255, 0.1);
                
                input {
                  color: red;
                }
            } 
      
            + ins {
                color: red;
                font-weight: 600;
                font-size: 12px;
            }
        }
      
        &.error + ins {
            margin-left: 15px;
        }
    }

    footer {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;

        button,
        a.button {
            min-height: 38px;
            min-width: 75%;
            margin-top: 10px;
            text-transform: uppercase;
            order: 1;
        }

        a.button {
            min-width: 25%;
            text-decoration: none;
            background: none;
            color: #aaa;
            order: 0;
        }
    }
}
