@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Work+Sans:400,700&display=swap');

@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  font-family-primary: 'IBM Plex Sans',
  layout-small-padding: 0,

), tbdi, default);
