// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Work+Sans:400,700&display=swap');
@import "assets/fonts/Inter/inter.css";
@import "assets/fonts/Circular Std/index.css";

@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  font-family-primary: 'Inter',
  layout-small-padding: 0,
  layout-background-color: #F7F8FB

), tbdi, default);
